{% if order_list %}
<table >
<tr > 
    <th style="border:1px solid"  >orderdata</th>
    <th style="border:1px solid" >food</th>
    <th style="border:1px solid" >estimate_time</th>
    <th style="border:1px solid" >deliver_finish<th>
 </tr>
    <tr style 
  {% for order in order_list %}
  <tr>
    <td style="border:1px solid" >{{ order.order_date }}</td>
    <td style="border:1px solid" >{%  for food in order.orderfood_set.all  %}
                                    <h6> {{ food.food_name}} </h6>
                                  {% endfor %} </td>
     <td style="border:1px solid" >{% if  order.estimate_time == -1 %} 
                                    <form method="POST" action="{% url 'boss:timeinput' %}">
                                        <input type="number" name="estimate_time" > 분
                                        <input type="hidden" name="orderid" value="{{order.id}}"> 
                                        <input type="submit" value="예상시간 입력"> 
                                    </form>                             
                                   {% else %}
                                     {{ order.estimate_time }} 분
                                   {% endif %} </td>
     <td style="border:1px solid" >{% if order.deliver_finish == 0 %}   
                                    배송중
                                    {% else %}
                                    배송 완료  
                                    {% endif %}                   
  {% endfor %}
{% endif %}